.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.0001);
}
.header-logo {
  display: block;
  font-size: 80px;
  color: #000000;
  margin: 63px 0 40px;
}
.header-logo span {
  color: #4bcaff;
}
.header-menu {
  background-color: #35444f;
}
.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-item {
  border-right: 1px solid #ffffff;
}
.header-menu-item:first-child {
  border-left: 1px solid #ffffff;
}
.header-menu-item:hover {
  background-color: #222f3a;
}
.header-menu-link {
  display: block;
  color: #ffffff;
  padding: 24px 40px 18px;
  font-size: 24px;
  letter-spacing: 1px;
}
.main-content {
  display: flex;
  margin-top: 50px;
}
.sidebar {
  margin-right: 52px;
}
.sidebar-menu {
  border: 1px solid #000000;
  color: #485863;
  width: 344px;
}
.sidebar-menu-item:hover {
  background-color: #dbdbdb;
}
.sidebar-menu-link {
  display: block;
  color: #485863;
  font-size: 27px;
  padding: 25px 90px 25px 40px;
}
.sidebar-menu-link:hover {
  display: block;
  color: #000000;
  font-size: 27px;
  padding: 25px 90px 25px 60px;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  border: 1px solid #000000;
}
.image {
  transition: all 1s ease;
}
.image-wrapper:hover img {
  transform: scale(1.2);
}
.text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(99, 105, 110, 0.48);
  padding: 20px 40px;
}
.footer-menu-list {
  display: flex;
}
.footer-menu-item {
  padding-right: 20px;
}
.footer-menu-item:last-child {
  padding-right: 0;
}
.footer-menu-link {
  color: #0c1927;
  font-size: 28px;
}
.footer-menu-link:hover {
  color: #3181a6;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181a6;
}
.footer-copyright {
  color: #010101;
  font-size: 24px;
}
